**Iterables**

In [ ]:
namn = 'Ali Leylani'

# strängar är iterabler, eftersom att du kan iterera igenom varje bokstav i strängen.

print(namn[0]) # Viktigt! Python börjar räkna från 0, inte 1.
print(namn[1]) 
print(namn[2])
print(namn[3])
print(namn[4])
print(namn[5])
print(namn[6])
print(namn[7])
print(namn[8])
print(namn[9])
print(namn[10])

Vad händer om du skriver ett index som inte finns i strängen?

Vi får ett IndexError.

In [ ]:
print(namn[11])

Det går mycket bra att använda negativa index också, Python kommer då att ge dig karaktärer baklänges istället.

In [ ]:
print(namn[0])
print(namn[-1])
print(namn[-2])

**len()-funktionen**

Denna ger oss längden/antalet av något. I strängfallet kommer den ge oss antalet karaktärer i strängen.

In [18]:
name = 'Sara Eriksson'

len(name)

13

In [ ]:
print(name[-1])
print(name[12])

In [22]:
name = 'Sara Eriksson'

n = 0

while n < len(name):

    print(name[n], end='')
    n+=1

Sara Eriksson

___

En lista är ett objekt som kan innehålla andra objekt, exempelvis strängar. Vi kommer prata mer om listor nästa lektion.

In [28]:
# Här skapar vi en lista med några i lärarteamet

lärarlista = ['Ali', 'Esoon', 'Hampus']

print(lärarlista)
print(type(lärarlista))

['Ali', 'Esoon', 'Hampus']
<class 'list'>

Det går mycket bra att iterera över listor, precis som vi gjorde med strängar

In [29]:
print(lärarlista[0])
print(lärarlista[-1])

Ali
Hampus

In [31]:
print(f'lärarlista: {type(lärarlista)}')
print(f'Ali: {type(lärarlista[0])}')

lärarlista: <class 'list'>
Ali: <class 'str'>

Viktigt här är att man kan dubbelindexera.

In [34]:
print(lärarlista[0])   # detta kommer att ge oss det första elementet i vår lista
print(lärarlista[0][0])
print(lärarlista[0][1])
print(lärarlista[0][2])

Ali
A
l
i

Låt oss nu skapa en lista med alla veckodagar

In [35]:
veckodagar = ['Måndag', 'Tisdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lördag', 'Söndag']

print(veckodagar)

['Måndag', 'Tisdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lördag', 'Söndag']

**For-loopar**

En for-loop är också en typ av loop, likt while, men är mer lämplig i vissa fall när man vill iterera 
genom ett bestämt antal objekt.

Anta att vi vill printa ut varje element i ex en lista.

In [37]:
for a in veckodagar:

    print(a)

Måndag
Tisdag
Onsdag
Torsdag
Fredag
Lördag
Söndag

In [51]:
for veckodag in veckodagar:

    print(veckodag)

Måndag
Tisdag
Onsdag
Torsdag
Fredag
Lördag
Söndag

In [50]:
print(veckodag)

Söndag

Det går jättebra att även for-loopa över strängar

In [52]:
for bokstav in 'Ali Leylani':
    print(bokstav)

A
l
i

L
e
y
l
a
n
i

In [55]:
number = 110

for digit in number:

    print(digit)

TypeError: 'int' object is not iterable

**range()-funktionen**

Ofta vill vi jobba med alal siffror mellan två tal, och då är range() bra att använda

Anta att vi vill printa alla tal från 0 till 10, då kan vi skriva

In [60]:
our_numbers = range(0, 10)

print(our_numbers)

range(0, 10)

Det där blev vi inte så mycket klokare av, men om vi kombinerar range med en for-loop får vi följande

In [61]:
for number in our_numbers:
    print(number)

0
1
2
3
4
5
6
7
8
9

Aha! Nu fattade Python, och för varje loop så assignade den variabeln number till siffrorna som range(0,10) skapade.

**Viktigt** är att range(start, stop) inte inkluderar stop, utan stannar vid stop-1. Se loopen ovan.

Vill man även inkludera stop måste man således skriva range(start, stop+1).

In [65]:
numbers = range(0,10)

for number in numbers:
    print(number)

0
1
2
3
4
5
6
7
8
9

Vi kan lägga till ytterligare ett argument till range, som bestämmer 'i steg om' mellan varje tal.

Syntaxen är range(start, stop, step)

In [ ]:
numbers = range(0,100,2)

for number in numbers:
    print(number)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [69]:
# det går bra att även gå baklänges

numbers = range(100,0,-10)

for number in numbers:
    print(number)

100
90
80
70
60
50
40
30
20
10

___

**For-break**

In [70]:
print(veckodagar)

['Måndag', 'Tisdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lördag', 'Söndag']

In [74]:
for veckodag in veckodagar:

    print(veckodag)

    if veckodag == 'Fredag':              # när veckodag antar värdet Fredag...
        break                             # ... presenteras Python denn Break, och hoppar således ur loopen

Måndag
Tisdag
Onsdag
Torsdag
Fredag

___

**Nested for-loops**

Vi kan givetvis även göra nästade for-loopar.

In [77]:
# Btw, om vi bara printar print() så skapas en ny rad - kan vara nice ibland.

print('Ali')
print()
print('Leylani')

Ali

Leylani

In [79]:
for i in range(0,3):

    print(f'i={i}')

    for j in range(4, 7):

        print(f'j={j}')

    print()

i=0
j=4
j=5
j=6

i=1
j=4
j=5
j=6

i=2
j=4
j=5
j=6

In [82]:
for x in range(0,3):

    print(x)

    for y in range(5,9):

        print(y)

    print()

0
5
6
7
8

1
5
6
7
8

2
5
6
7
8

In [80]:
for i in range(0,3):

    for j in range(4, 7):

        print(f'ij={i}{j}')

    print()

ij=04
ij=05
ij=06

ij=14
ij=15
ij=16

ij=24
ij=25
ij=26