# 1

In [6]:
def find_passing_students(students_grades, passing_grade):
    """
    This function takes a dictionary of students' names and their grades (a list of integers),
    and returns a list of names of students who have an average grade above the passing grade.
    """
    
    passing_students = []
    
    for student, grades in students_grades.items():
        total = sum(grades)
        average = total / len(student)  # Error: len() should be used on grades, not student
        
        if average >= passing_grade:
            passing_students.append(student)
    
    return passing_students

In [8]:
# Student grades data
student_grades = {
    "Alice": [85, 90, 88],
    "Bob": [55, 60, 58],
    "Charlie": [90, 92, 91],
    "David": [65, "seventy", 50]  # Error: "seventy" is a string, not an integer
}

# Call the function and print the result
passing_grade = 60
passing_students = find_passing_students(student_grades, passing_grade)
print("Passing Students: ", passing_students)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# 2

In [11]:
def count_vowels_in_names(names_list):
    
    """
    This function takes a list of names (strings) and returns a dictionary
    with each name and the count of vowels (a, e, i, o, u) in that name.
    """

    vowels = 'aeiou'
    vowel_count = {}
    
    for name in names_list:
            count = sum([1 for letter in name.lower() if letter in vowels])
            vowel_count[name] = names_list # Error: should be count, not names_list

    return vowel_count

In [10]:
# List of student names
student_names = ["Alice", "Bob", 123, "David", "Eve"]  # Error: 123 is an integer, not a string

# Call the function and print the results
vowel_counts = count_vowels_in_names(student_names)
print("Vowel Counts: ", vowel_counts)

AttributeError: 'int' object has no attribute 'lower'

# 3

In [13]:
def convert_temps(temp_data):
    """
    This function takes a list of tuples, where each tuple contains a city name (string)
    and a temperature in Celsius (float or int). It converts the temperature to Fahrenheit 
    and returns a list of tuples with the city name and converted temperature.
    """

    converted = [(city, (temp * 9/5) + 32) for city in temp_data] # Error: forgot to define temp in the loop
    
    return converted

In [ ]:
# List of city temperatures (Celsius)
city_temperatures = [("New York", 22), ("Los Angeles", 28), ("London", "eighteen"), ("Tokyo", 30)]  
# Error: "London" has temperature as a string, not an integer or float

# Call the function and print the results
converted_temperatures = convert_temps(city_temperatures)
print("Converted Temperatures (Fahrenheit):", converted_temperatures)

# 4

In [22]:
def longest_word(apa):
    """
    This function takes a list of words and returns the longest word in the list.
    """
    longest = ""
    
    for mapa in apa:
        if len(longest) > len(mapa):  # Error: Should be len(word) > len(longest) to find the longest word
            longest = mapa
    
    return longest

In [23]:
# Call the function and print the result
words = ["apple", "banana", "cherry", "blueberry"]
longest = longest_word(words)
print("Longest word:", longest)

Longest word: